// display flex was causing errors
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active{
    display: block;
}

.carousel{
    .carousel-inner{
        box-shadow: none;
    }
    .now-ui-icons{
        font-size: 2em;
    }

    .indicator-left {

	    width: 40px;
	    height: 40px;

	    cursor: pointer;
	    border: none;
	    padding-top:8px;
	   	padding-left:5px;
	   	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
		-webkit-border-radius: 50% !important; 

		/* Firefox 1-3.6 */
		-moz-border-radius: 50% !important; 

		/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
		border-radius: 50% !important; 
	    background-color: rgba(0,0,0,.3);
	    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.1);    
	    background-repeat:no-repeat;
		background-position: center right;
		overflow:hidden;
		.carousel-control-prev-icon {
			width: 25px;
	    	height: 25px;

		}
		.carousel-control-next-icon {
			width:25px;
			height:25px;


		}
	}
	.indicator-right {

	    width: 40px;
	    height: 40px;

	    cursor: pointer;
	    border: none;
	    padding-top:8px;
	   	padding-left:10px;
	   	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
		-webkit-border-radius: 50% !important; 

		/* Firefox 1-3.6 */
		-moz-border-radius: 50% !important; 

		/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
		border-radius: 50% !important; 
	    background-color: rgba(0,0,0,.3);
	    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.1);    
	    background-repeat:no-repeat;
		background-position: center right;
		overflow:hidden;

		.carousel-control-next-icon {
			width:25px;
			height:25px;


		}
	}

}


