.navbar{
    font-weight:lighter;
    padding-top: $navbar-padding-base;
    padding-bottom: $navbar-padding-base;
    min-height: 53px;

    a{
        color: $link-color;
        vertical-align: middle;
    }

    p{
        display: inline-block;
        margin: 0;
        line-height: 21px;
    }

    .navbar-nav{
        &.navbar-logo{
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 49px;
            top: -4px;
        }

        .nav-link{
            color: $link-color;

            font-size: $font-size-base;
            padding: $padding-base-vertical $padding-base-horizontal;
            line-height: $line-height-nav-link;

            i.fa + p,
            i.now-ui-icons + p{
                margin-left: 5px;
            }

            i.fa,
            i.now-ui-icons{
                font-size: 18px;
                position: relative;
                top: 2px;
                text-align: center;
                width: 21px;
            }

            i.now-ui-icons{
                top: 4px;
                font-size: 16px;
            }

            &.profile-photo{
                .profile-photo-small{
                    width: 27px;
                    height: 27px;
                }
            }

            &.disabled{
                opacity: .5;
                color: $white-color;
            }
        }

        .nav-item.active .nav-link{
            background-color: $opacity-2;
            border-radius: $border-radius-small;
        }
    }

    .logo-container{
        width: 27px;
        height: 27px;
        overflow: hidden;
        margin: 0 auto;
        border-radius: 50%;
        border: 1px solid transparent;
    }

    .navbar-brand{
        color: $link-color !important;
        font-size: $font-size-large-navbar !important;
        padding-top: $padding-base-vertical;
        padding-bottom: $padding-base-vertical;
        line-height: $line-height-nav-link;
    }



    &.navbar-transparent{
        background-color: $transparent-bg !important;
        box-shadow: none;
        color: $white-color;
        padding-top: 20px;
    }

    &.bg-white:not(.navbar-transparent){
        a:not(.dropdown-item){
            color: $default-color;

            &.disabled{
                opacity: .5;
                color: $default-color;
            }
        }

        .button-bar{
            background: $default-color;
        }

        .nav-item.active .nav-link{
            background-color: $opacity-gray-3;
        }

        .logo-container{
            border: 1px solid $default-color;
        }
    }
}

.navbar-light .navbar-toggler {
    border: none !important; 
}

.cart-number {
    position:relative !important; 
    bottom:3px !important; 
    right:18px !important; 
    font-size:15px !important;
}

.bg-default{
    // background-color: $default-color !important;
    background-color: $primary-color !important;
}

.bg-primary{
    background-color: $primary-color !important;
    color: $dark-gray !important;
}

.bg-info{
    background-color: $info-color !important;
}

.bg-success{
    background-color: $success-color !important;
}

.bg-danger{
    background-color: $danger-color !important;
}

.bg-warning{
    background-color: $warning-color !important;
}

.bg-white{
    background-color: $white-color !important;
}
